{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "no-await-in-loop": "off"
  }
}